*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@charset "UTF-8";
@font-face {
    font-family: "fa";
    src: url("../fonts/fa.eot");
    src: url("../fonts/fa.eot?#iefix") format("embedded-opentype"), url("../fonts/fa.woff") format("woff"), url("../fonts/fa.ttf") format("truetype"), url("../fonts/fa.svg#fa") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "fa" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before, [class*=" ico-"]:before {
    font-family: "fa" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ico-search-1:before {
    content: "\61";
  }
  .ico-arrow-combo:before {
    content: "\63";
  }
  .ico-line-awesome:before {
    content: "\64";
  }
  .ico-line-awesome-1:before {
    content: "\65";
  }
  .ico-news:before {
    content: "\62";
  }
  .ico-github:before {
    content: "\66";
  }
  .ico-paper-plane:before {
    content: "\67";
  }
  .ico-reddit:before {
    content: "\68";
  }
  .ico-forum:before {
    content: "\6a";
  }
  .ico-line-awesome-2:before {
    content: "\69";
  }
  .ico-th-large:before {
    content: "\6c";
  }
  .ico-line-awesome-3:before {
    content: "\6b";
  }
  .ico-user-outline:before {
    content: "\6d";
  }
  .ico-data:before {
    content: "\6e";
  }
  .ico-tags:before {
    content: "\6f";
  }
  .ico-content-34:before {
    content: "\70";
  }
  .ico-bar-chart:before {
    content: "\71";
  }
  .ico-ios-arrow-thin-right:before {
    content: "\72";
  }
  .ico-angle-double-right:before {
    content: "\73";
  }
  .ico-angle-double-left:before {
    content: "\74";
  }
  .ico-angle-left:before {
    content: "\75";
  }
  .ico-angle-right:before {
    content: "\76";
  }
  
  
.ico-block-ch {
    background-image: url(../fonts/icon/blc-ht.png);
}

.ico-nodes {
    background-image: url(../fonts/icon/nodes.png);
}

.ico-graph {
    background-image: url(../fonts/icon/graph.png);
}

.ico-res-time {
    background-image: url(../fonts/icon/res_time.png);
}

.ico-lst-blk {
    background-image: url(../fonts/icon/ico-block.png);
}

.ico-block-ch, .ico-nodes, .ico-graph, .ico-res-time, .ico-lst-blk {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon:before {
    content: "\00a0";
}

.fl-i-us {
    background-image: url(../fonts/flags/us.svg);
}

.fl-i-jp {
    background-image: url(../fonts/flags/jp.svg);
}

/* main script  */

html, body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    min-height: 100vh;
}

.ex-header {
    width: 100%;
    position: relative;
    background: transparent;
    min-height: 38px;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 0px;
}

.ex-header.bg01 {
    background: #1a4d60;
    border-top: 1px solid rgba(251, 251, 251, 0.32);
}

.n-p {
    padding: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

.bg-02 {
    background: #0998a6;
}

.logo-h {
    display: inline-block;
    max-width: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    width: auto;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
}

.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.lang-swtch {
    display: block;
    float: right;
}

@media (min-width: 1200px) {
    .container {
        max-width: 86%;
    }
}

.full-con {
    width: 100%;
    height: auto;
    min-height: 1px;
    position: relative;
    display: inline-block;
}

.gradinet_01 {
    background: linear-gradient(-70deg, #1a4d60 10%, #0998a6 90%);
    background-size: 100% auto;
    position: relative;
}

.top_head::before {
    content: '';
    background-image: url(../img/logo_bkg.png);
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 60% 0%;
}

.top_head {
    padding-top: 18px;
    padding-bottom: 20px;
}

.top_head .logo {
    max-width: 40px;
}

.top_head .head-titl {
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
    letter-spacing: 1px;
}

.top_head .head-sub-t {
    text-align: center;
    color: #e4e4e4;
    font-size: 12px;
    margin: 0px;
}

.btn-gr {
    display: inline-block;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #fff;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.top_head .btn {
    border-radius: 4px;
    width: 68px;
    font-size: 12px;
}

.top_head .btn:hover, .top_head .btn.active {
    background: #fff;
    color: #0998a6;
}

.search-grp {
    width: 100%;
    display: block;
    border: 1px solid #fff;
    position: relative;
    margin-top: 14px;
    border-radius: 6px;
    overflow: hidden;
}

.search-grp input {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    padding: 6px 8px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.search-grp button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.lang-swtch .dropdown-toggle {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.lang-swtch .dropdown-toggle i {
    padding-right: 24px;
}

.lang-swtch:hover>.dropdown-menu {
    display: block;
}

.lang-swtch .dropdown-menu {
    min-width: auto;
    padding: 0px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    transition: all 0.2s ease-in-out;
}

.lang-swtch .dropdown-menu a {
    color: #0997a3;
    text-align: right;
    padding: 0.25rem 0.8rem;
    text-decoration: none;
}

.lang-swtch .dropdown-menu a i {
    padding: 0px 15px;
}

.logo-wrap, .lang-swtchwrap {
    display: none;
}

.hdr-btn-con {
    width: 100%;
    display: table;
}

.hdr-btn-con.btns_left {
    text-align: right;
}

.hdr-btn-con a {
    border: 1px solid #fff;
    background: #28506a;
    padding: 4px 14px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.hdr-btn-con a:hover {
    background: #fff;
    color: #28506a;
}

.nav-con, .nav-menu {
    display: block;
    width: 100%;
}

.nav-menu {
    list-style: none;
    text-align: left;
    display: flex;
    padding: 0px;
    margin: 10px 0px 6px 0px;
}

.nav-menu li {
    flex: auto;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: auto;
    display: inline-block;
    font-size: 12px;
}

.nav-menu li a i {
    font-size: 14px;
    display: inline-block;
    line-height: .5;
    float: left;
}

.nav-menu li a span {
    display: inline-block;
    float: left;
    margin: 0px 0px 0px 6px;
}

.nav-menu li a.active::before {
    content: '';
    position: absolute;
    top: -14px;
    width: 100%;
    height: 4px;
    background: #fff;
    transition: all 0.2s ease-in-out;
}

.nav-fixed {
    position: fixed;
    top: 0px;
    z-index: 10000;
}

.nav-fixed .logo-wrap, .nav-fixed .lang-swtchwrap {
    display: block;
    max-width: 60px;
}

.info-col {
    width: 100%;
    border-radius: 4px;
    padding: 16px 6px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .3) !important;
    display: inline-block;
    height: 100%;
}

.info-col .info-ico, .info-col .info-desc {
    display: inline-block;
    float: left;
}

.info-col .info-ico {
    width: 50px;
    height: 50px;
}

.info-col .info-ico i {
    width: 100%;
    height: 100%;
}

.info-col h3 {
    color: #464646;
    margin-bottom: 0px;
    font-size: 12px;
}

.info-col p {
    margin: 0px;
    color: #6f6f6f;
    font-weight: 600;
}

.info-col .info-desc {
    padding-left: 10px;
    max-width: 80%;
}

.widget {
    background: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom: 30px;
    min-height: 1px;
    width: 100%;
    position: relative;
    display: block;
}
.z-1{
    z-index: 1;
}
.has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .18);
}

.widget-body {
    padding: 1.4rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
}

.dataTables_wrapper.container-fluid {
    padding: 0 .7rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #98a8b4;
}

.form-control {
    font-size: 1rem;
    line-height: 1.25;
    color: #2c304d;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: .50rem .75rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1a4d60;
    outline: 0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    font-size: 14px;
    color: #98a8b4;
}

.table thead {
    background-color: rgba(52, 40, 104, .05);
    border-radius: 4px;
}

.table thead th {
    vertical-align: middle;
    border: 0 none;
    padding: 12px 6px 12px 6px;
    color: #0997a3;
    font-weight: 500;
    outline: none;
    font-size: 12px;
    letter-spacing: 1px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    font-family: "fa" !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    opacity: .3;
    font-size: 1.2rem;
    font-weight: normal;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\65";
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: .5em;
    content: "\64";
}

.dataTables_wrapper .dataTables_filter {
    text-align: right;
}

.table td {
    border-top: 0;
    padding: .3rem;
    vertical-align: middle;
    font-weight: 500;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
}
table.table-bordered tbody tr td{
    height: 40px;
    border: 0;
    border-bottom: 1px solid #dadee6;
    font-size: 12px;
}
div.dataTables_wrapper div.dataTables_info {
    color: #98a8b4;
}

table.table-bordered tbody tr{
    cursor: pointer;
}

table.table-bordered tbody  .info_append{
    cursor: initial;
    height: 100px;
    width: 100%;
}
.table-footer{
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 15px 0 0 0;
}
.pagination-container{
    display: inline-block;
    float:  right;
}
.pagination {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: block;
    border-radius: .25rem;
}


.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 5px;
}

.page-item.disabled .page-link {
    color: rgba(52, 40, 104, .15);
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}

.page-item.active .page-link {
    z-index: 2;
    color: #5d5386;
    background-color: transparent;
    font-weight: 600;
}

table.table-bordered.dataTable tbody tr {
    height: 50px;
}

.page_con {
    width: 100%;
    position: relative;
    min-height: 70vh;
}
.page_con.nav_fx{
    margin-top: 46px;
}
.footer {
    background: #0e2e3a;
    padding: 30px 0px 0px;
}

.footer .ftr_btm {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: relative;
    padding: 10px 0px;
    border-top: 1px solid #fff;
}

.footer .ft-logo a {
    height: 30px;
    display: inline-block;
}

.footer .ft-logo a img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.footer .ft-desc p {
    font-size: 12px;
    text-align: justify;
    color: #fff;
}

.social-icon {
    list-style: none;
    text-align: justify;
    display: flex;
    margin-top: 40px;
}

.social-icon li {
    display: inline-block;
    flex: auto;
}

.social-icon li a {
    color: #fff;
    text-decoration: none;
}

.social-icon li a span {
    margin-left: 5px;
}

.footer .ftr-menu {
    margin-top: 40px;
    list-style: none;
}

.footer .ftr-menu li a {
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
}

.page-header {
    position: relative;
    z-index: 99;
    padding: 0 15px 15px 15px;
    width: 100%;
}

.page-header-title {
    color: #1a4d60;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: auto !important;
}

.widget-header {
    background: #fff;
    padding: .85rem 1.4rem;
    position: relative;
    width: 100%;
}

.widget-header.bordered {
    border-bottom: .07rem solid #eee;
}

.widget-header.no-actions {
    padding: 1.49rem;
}

.widget-header h1, .widget-header h2, .widget-header h3, .widget-header h4, .widget-header h5, .widget-header h6 {
    color: #2c304d;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.leaflet-container .leaflet-control-attribution {
    display: none;
}

.hm_wdjt_itm_t1 {
    width: 100%;
    display: inline-block;
    border-left: 4px solid #0998a6;
    padding: 1px 10px;
    margin: 20px 0px 20px 22px;

}

.hm_wdjt_itm_t1 span, .hm_wdjt_itm_t1 p {
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px;
}

.hm_wdjt_itm_t1 span {
    color: rgb( 187, 187, 187);
    font-size: 12px;
}

.hm_wdjt_itm_t1 p {
    color: rgb( 85, 85, 85);
    text-align: left;
    font-size: 14px;
    margin: 4px 0px 0px;
}
.nempricegraph_con{
   padding: 15px 0px;
}
.box{
    width: 100%;
    min-height: 1px;
    display: inline-block;
    position: relative;
    padding: 20px;
}
.box .box-title{
    position: relative; 
    padding: 10px 0px;
}
.box .box-title h1{
    font-size: 16px;
    font-weight: 500;
    color: #393939;
    margin: 0px;
   
}
.inline-block{
    display: inline-block;
}
.flt-rt{
    float: right;
}
.btn_grp {
    
}
.btn-green{
    border: 1px solid #039ba8;
    border-radius: 4px;
    color: #039ba8;
    font-size: 10px;
    padding: 6px 12px;
}
.btn-green i{
    font-size: 24px;
    line-height: 0px;
    position: relative;
    top: -4px;
    right: -4px;
}
.btn-green *{
    display: inline-block;
    float: left;
}
.btn-green:hover{
    background: #039ba8;
    color: #fff;
}
.box-con{
    position: relative;
    padding: 10px 0px;
    width: 100%;
    min-height: 1px;
    margin-top: 15px;
}
.rn_blk_con{
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    padding: 12px;
    position: relative;
    overflow: hidden;
}
.rn_blk_con::before{
    width: 4px;
    content: '';
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #1a4d60;
}
.rn_blk_con .blkht{
    width: 100%;
    font-weight: 600;
    margin-bottom: 6px;
}
.rn_blk_con .inrw{
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}
.rn_blk_con .inrw span{
    display: inline-block;
    font-size: 10px;
    color: #acacac;
}
.rn_blk_con .inrw span:last-child{
    float: right;
}

.rn_blk_con .inrw .acnt{
    color: #84accb;
    float: right;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}
.trx:before{
    background: #78b6e4;
}
.rn_blk_con.trx{
    margin-bottom: 10px;
}
.rn_blk_con.trx .trx-clm{
    width: 100%;
    padding: 8px;
}
.rn_blk_con.trx .trx-clm span{
    width: 100%;
    display: inline-block;
}
.rn_blk_con.trx .trx-clm span.t1{
    color: #78b6e4;
    font-size: 11px;
    font-weight: 500;
}
.rn_blk_con.trx .trx-clm span.st1{
    font-size: 10px;
    color: #c4c4c4;
}
.trx-clm .txh1{
    color: #78b6e4;
    font-size: 11px;
    font-weight: 500;
}
.text-right{
    text-align: right
}
.trx-clm  .tx_acnts {
    width: 100%;
    display: inline-block;
    margin: 6px 0px 0px 0px;
}
.trx-clm  .tx_acnts span {
    display: inline-block !important;
    width: 46% !important;
    font-size: 10px;
    float: left;
    overflow: hidden;
    color: #78b6e4;
    font-size: 11px;
    font-weight: 500;
}
.trx-clm  .tx_acnts span:last-child{
    float: right;
}
.trx-clm  .tx_acnts i{
    font-size: 21px;
    width: 8%;
    float: left;
    text-align: center;
    color: #78b6e4;
    overflow: hidden;
    font-weight: 800;
    line-height: 0;
}
.trx-clm .amt{
    color: #495057;
    font-weight: bold;
    display: inline-block;
    float: left;
    max-width: 150px;
}
.trx-clm .fee{
    display: inline-block;
    float: left;
    max-width: 150px;
}
.pagination li {
    list-style: none;
    display: inline-block;
}
.page-link {
    padding: .5rem;
    line-height: 1rem;
    text-align: center;
    color: #aea9c3;
    margin: 0 .3rem;
    background-color: transparent;
    border: 0 none;
    font-size: 1rem;
}
.pagination li a,.pagination li span{
    padding: 4px;
    border: 1px solid #dadee6;
    min-width: 36px;
    text-align: center;
    
    color: #000;
    display: inline-block;
    text-decoration: none;
}
.pagination li span{
    background: #0998a6;
    color: #fff;
}
.pagination li:first-child a{
    border-radius: 4px 0px 0px 4px;
}
.pagination li:last-child a{
    border-radius: 0px 4px 4px 0px;
}
#table-block-list tbody tr td:nth-child(3){
    padding-left: 2pc;
}
.box .box-title .info_append{
    display: inline-block;
    font-size: 16px;
    padding: 0px 8px;
    text-transform: none;
    font-weight: 300;
    color: #6f7788;
}
.list_info_con{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 15px;
}
.list_info_con .list_item{
    border-bottom: 1px solid #dadee6;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
}
.list_info_con .list_item >*{
    padding: 0px;
}
.list_info_con .list_item .label, .list_info_con .list_item .value{
    color: #212529;
    padding: 12px 0px;
}
.list_info_con .list_item .label{
    font-weight: 500;
    color: #1a4d60;
}
@media (max-width: 576px) {
    .ex-header {
        padding: 0px 15px;
    }
    .mob_con {
        padding: 0px 10px;
    }
    .info-col h3, .info-col p {
        font-size: 14px;
    }
    .node_list_con .dataTables_wrapper {
        padding: 0px;
    }
    .node_list_con div.dataTables_wrapper div.dataTables_length label, .node_list_con div.dataTables_wrapper div.dataTables_filter label {
        float: left;
    }
    .footer .ftr-menu {
        margin-top: 20px;
        padding: 0px;
    }
    .social-icon {
        padding: 0px;
    }
    .footer .ftr_btm {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .social-icon {
        display: block;
    }
    .social-icon li {
        display: block;
        flex: none;
        margin-top: 10px;
    }
}