<template>
  <div>
    <top-header></top-header>
    <page-menu></page-menu>
    <div class="page_con">

    </div>
    <page-footer></page-footer>
    <script type="application/javascript">

    </script>
  </div>
</template>
<script>

export default {
  name: 'block',
  components: {
  },
  data () {
    return {

    }
  },
  methods: {},
  mounted () {

  }
}
</script>
