<template>
  <div class="widget has-shadow">
    <div class="row">
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
              <span>Price</span>
              <p>$0.056458</p>
          </div>
      </div>
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
               <span>Market Cap</span>
              <p>$175,790,469,040</p>
          </div>
      </div>
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
               <span>Average block time</span>
              <p>63 seconds</p>
          </div>
      </div>
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
               <span>Total Transactions</span>
              <p>$437,729,780</p>
          </div>
      </div>
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
               <span>Block Height</span>
              <p>2,133,000</p>
          </div>
      </div>
      <div class="col-md-2">
          <div class="hm_wdjt_itm_t1">
               <span>Nodes Online</span>
              <p>400</p>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {}
  // ['ItemTitle','ItemData','itemThumb']
}
</script>
