<template>
  <div class="widget has-shadow">
    <div class="box">
      <div class="box-title">
        <h1 class="inline-block">Recent Transactions</h1>
        <div class="btn_grp inline-block flt-rt">
          <a href="#" class="btn btn-green">
            <span>View all Transactions</span>
            <i class="ico-ios-arrow-thin-right"></i>
          </a>
        </div>
      </div>
      <div class="box-con">
        <div class="row">
          <div class="col-md-12">
            <div class="rn_blk_con trx">
              <div class="row">
                  <div class="col-md-2">
                      <div class="trx-clm">
                          <span class="t1">Transaction</span>
                          <span class="st1">Success</span>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="trx-clm p-0">
                          <span class="txh1">22a0ffac5a4d5e4ca803394e266664aa31a95b744f04e6600d4a0d352633d4a9</span>
                          <p class="tx_acnts"><span>NB3LOGIICYXHSOBLCS4DJU7QGDQLKJR7OCD63XYM</span> <i class="ico-ios-arrow-thin-right"></i><span>NB7QWPMQEN62IGEUSBGVQKIAQUQMAHDHIMYCGKW6 </span> </p>
                      </div>
                       <div class="trx-clm p-0">
                            <span class="amt">425 XEM</span>
                             <span class="fee">	0.15 Fee</span>
                       </div>
                  </div>
                  <div class="col-md-2">
                     <div class="trx-clm text-right">
                          <span class="t1">Block #2133070</span>
                          <span class="st1">5 minuts ago</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="rn_blk_con trx">
              <div class="row">
                  <div class="col-md-2">
                      <div class="trx-clm">
                          <span class="t1">Transaction</span>
                          <span class="st1">Success</span>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="trx-clm p-0">
                          <span class="txh1">22a0ffac5a4d5e4ca803394e266664aa31a95b744f04e6600d4a0d352633d4a9</span>
                          <p class="tx_acnts"><span>NB3LOGIICYXHSOBLCS4DJU7QGDQLKJR7OCD63XYM</span> <i class="ico-ios-arrow-thin-right"></i><span>NB7QWPMQEN62IGEUSBGVQKIAQUQMAHDHIMYCGKW6 </span> </p>
                      </div>
                       <div class="trx-clm p-0">
                            <span class="amt">425 XEM</span>
                             <span class="fee">	0.15 Fee</span>
                       </div>
                  </div>
                  <div class="col-md-2">
                     <div class="trx-clm text-right">
                          <span class="t1">Block #2133070</span>
                          <span class="st1">5 minuts ago</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="rn_blk_con trx">
              <div class="row">
                  <div class="col-md-2">
                      <div class="trx-clm">
                          <span class="t1">Transaction</span>
                          <span class="st1">Success</span>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="trx-clm p-0">
                          <span class="txh1">22a0ffac5a4d5e4ca803394e266664aa31a95b744f04e6600d4a0d352633d4a9</span>
                          <p class="tx_acnts"><span>NB3LOGIICYXHSOBLCS4DJU7QGDQLKJR7OCD63XYM</span> <i class="ico-ios-arrow-thin-right"></i><span>NB7QWPMQEN62IGEUSBGVQKIAQUQMAHDHIMYCGKW6 </span> </p>
                      </div>
                       <div class="trx-clm p-0">
                            <span class="amt">425 XEM</span>
                             <span class="fee">	0.15 Fee</span>
                       </div>
                  </div>
                  <div class="col-md-2">
                     <div class="trx-clm text-right">
                          <span class="t1">Block #2133070</span>
                          <span class="st1">5 minuts ago</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="rn_blk_con trx">
              <div class="row">
                  <div class="col-md-2">
                      <div class="trx-clm">
                          <span class="t1">Transaction</span>
                          <span class="st1">Success</span>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="trx-clm p-0">
                          <span class="txh1">22a0ffac5a4d5e4ca803394e266664aa31a95b744f04e6600d4a0d352633d4a9</span>
                          <p class="tx_acnts"><span>NB3LOGIICYXHSOBLCS4DJU7QGDQLKJR7OCD63XYM</span> <i class="ico-ios-arrow-thin-right"></i><span>NB7QWPMQEN62IGEUSBGVQKIAQUQMAHDHIMYCGKW6 </span> </p>
                      </div>
                       <div class="trx-clm p-0">
                            <span class="amt">425 XEM</span>
                             <span class="fee">	0.15 Fee</span>
                       </div>
                  </div>
                  <div class="col-md-2">
                     <div class="trx-clm text-right">
                          <span class="t1">Block #2133070</span>
                          <span class="st1">5 minuts ago</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
